@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, rgba(2, 0, 36, 1) 0%, rgba(184, 48, 98, 1) 100%);
}

.main-h1 {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 90px;
  font-style: italic;
  font-weight: 100;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #0ae;

  background-image: -webkit-gradient(linear, 0 0, 0 100%,
      color-stop(.5, rgba(255, 255, 255, .2)),
      color-stop(.5, transparent), to(transparent));
}